@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }


  *:disabled {
    background-color: dimgrey !important;
    color: linen !important;
    opacity: 1 !important;
    cursor: not-allowed! important;
  }
  
  ul, li, al {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .container {
    margin: 0 auto;
    max-width: 2180px;
  }
  
  .wrapper-answers{
    width: 100%;
  }
  
  #span-required3{
    color: red;
    display: none;
    font-size: 22px;
  }
  
  #span-required2{
    color: red;
    display: none;
    font-size: 22px;
  }
  
  #text-span{
    color: red;
    display: none;
    font-size: 22px;
  }
  
  .span-required{
    color: red;
    display: none;
    font-size: 18px;
  }
  
  .btn-hover {
    opacity: 1;
  }
  
  .btn-hover:hover {
    opacity: 0.8;
  }
  


  button {
    animation: pulse 0.6s infinite;
  }


.wrapper-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 100px;
    border-radius: 25px;
}

.input-field{
    display: flex;
    flex-direction: column;    
}

.cliente-cadastrado{
    text-align: center;
}

.cliente-cadastrado h1 h3{
    margin-bottom: 5px;
}

.row{
    margin: 25px 0px;
}

.input-field{
    text-align: left;
    margin: 25px 0px;
    position: relative;
}

.texto-signup{

    font-size: 12px;
    margin-bottom: 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px 30px;
    border-radius: 25px;
    width: 55%;
}

.sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-signup a{
    border-bottom: 1px solid white;
    color: white;
    opacity: 0.9;
}


.botaoatendimento{
    padding: 15px 20px;
    width: 75%;
    background-color: green;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-style: bold;
}

#last_name{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
}

.last_name{
    color: rgb(54, 178, 97);
    font-size: 15px;
}

.cpf-cliente h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000d1;
}

.cpf-cliente h3{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.wrapper-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 100px;
}

.cadastro-cliente-col h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000d1;
}
.legenda{
    text-align: center;
    margin-bottom: 25px;
    border: 3px solid red;
    border-radius: 25px;
}

.obrigatorio{
    color: red;
    font-size: 20px;
}

.text-input{
    margin-bottom: 15px;
}

.input-cliente{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 5px 50px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
}

.input-cliente-rua{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 5px 50px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
}

.input-cliente-estado{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 5px 50px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
}

.text-input-sexo{
    margin-bottom: 25px;
}

.radio-option{
    margin: 0 10px 0 5px;
    margin-top: 5px;
}

.endereco-titulo{
    margin-bottom: 30px;
}

.text-input-row p{
    color: black;
    font-weight: bold;
    opacity: 0.8;
}

.text-input-row{
    margin-bottom: 25px;
}

.botao-cadastrar{
    padding: 10px 20px;
    width: 83%;
    background-color: green;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-style: bold;
}

.menu-painel{
    display: none;
}

.help{
    display: none;
}

.pagina-inicial{
    background: white;
}

.wrapper-clientes{
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
}

.filtros h1{
    text-align: center;
}

.tabela-cabecalho{
    width: 100%;
    height: 60px;
    background-color: #000000d1;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 25px 25px 0px 0px;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000000d1;
    width: 75%;
}

.buscar-nome{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-right: 10px;
}

.input-txt{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 10px 50px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
}

.input-txt-layout2{
    display: flex;
    align-items: center;
}

.btn-filtro{
    margin-left: 10px;
    padding: 10px 50px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: green;
}

.filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-linha{
    text-align: center;
    font-weight: bold;
    height: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.cor-linha{
    background-color: rgb(180, 180, 180);
}

.tabela-de-exibicao{
    margin-top: 25px;
}

.tabela-coluna{
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 40px;
}

.texto-center{
    text-align: center;
}

.altura-tabela-clientes {
    height: 60px !important;
    padding: 8px;
    box-sizing: border-box;
    border-right: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);

}

.wrapper-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 100px;
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
}

.titulo-pequeno{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000d1;
    width: 100%;
}

.wrapper-principal input{
    box-shadow: none;
    padding: 5px 25px;
    width: 100%;
}

.wrapper-principal p{
    width: 25%;
    color: rgb(54, 178, 97);
    font-weight: bold;
}

.wrapper-principal .botao{
    width: 75%;
    margin-bottom: 15px;
}

.wrapper-principal .entrar-aut{
    background-color: green;
    color: white;
    border-radius: 25px;
    padding: 15px 10px;
    border: none;
    width: 100%;
    margin-bottom: 25px;
}

.wrapper-principal h4{
    margin-top: 35px;
    margin-bottom: 15px;
}

.wrapper-principal .btn-voltar{
    background-color: white;
    border: 2px solid red;
    padding: 10px 110px;
    border-radius: 25px;
    color: red;
}

.wrapper-principal .btn-voltar:hover{
    background-color: red;
    color: white;
    border: 2px solid white;
}

.wrapper-principal .input-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper-usuario{
    background-color: white;
    margin: 50px auto;
    width: 75%;
    border-radius: 25px;
    padding: 100px;
}

.container-cadastro-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 50px;
}

.container-cadastro-produto img{
    width: 100px;
}

.container-cadastro-produto h1{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000d1;
}

.container-cadastro-produto h2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}

.campo-form h4{
    color: rgb(54, 178, 97);
    font-weight: bold;
}

.campo-form input{
    background-color: #f2f0f0;
    border-radius: 25px;
    padding: 10px 50px;
    margin-top: 5px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 1px 3px 5px #e8e8e8;
    margin-bottom: 25px;
}

.form-botao{
    text-align: center;
}

.form-botao input{
    background-color: green;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 50px;
}

.tabela{
    width: 100%;
    height: 60px;
    background-color: #000000d1;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 25px 25px 0px 0px;
    font-weight: bold;
    padding: 40px;
}

.coluna-head{
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 40px;
}

.linha-tabela{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 40px;
    border-right: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
}

.coluna-tabela{
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 40px;
}

.coluna-tabela img{
    width: 25px;
}

.img-voltar,
.img-sair{
    width: 50px;
}

.menu-painel,
.help{
    display: none;
}

.conteudo-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-home-titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 100px 50px 100px;
    border-radius: 0 0 500px 0;
    margin-bottom: 50px;
}

.texto-home-titulo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    width: 30%;
}

.texto-instrucao{
    margin-bottom: 50px;
}

.aniversario-title{
    border: 3px solid black;
    padding: 30px;
    border-radius: 50px;
    margin-bottom: 25px;
}

.table{
    width: 100%;
    margin-bottom: 20px;
    color: #212529;
}

tr{
    border: 3px solid rgba(0, 0, 0, 0.12);
}

.table .thead-dark th{
    color: white;
    background-color: #343a40;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.12);

}

.body-atendimento,
.body-cadastrar-cliente,
.body-secao-principal,
.body-criar-usuario{
    background-color: rgb(32, 32, 32);
}

@media only screen and (max-width: 775px) {
    .wrapper-atendimento{
        width: 90%;
    }

    .wrapper-cadastrar{
        width: 90%;
    }
}